body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: black;
  font:
    14px "Open Sans",
    "Arial",
    sans-serif;
}

video {
  height: 100vh;
  width: 100vw;
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: none;
}

#share-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  padding: 16px 32px;
  font-size: 18px;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 8px;
}

canvas.filter {
  filter: invert(1) contrast(2) sepia(1);
}

.fiducial {
  position: fixed;
  top: 0;
  height: 8px;
  width: 50%;
  z-index: 1000;
  pointer-events: none;
}

.fiducial-left {
  left: 0;
  background-color: #ffff00;
}

.fiducial-right {
  right: 0;
  background-color: #ff00ff;
}
